{{- if eq .Values.deployment.enabled true }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "single.name" . }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  labels:
    app: {{ regexReplaceAll "-exp-[a-zA-Z0-9]{1,10}$" (include "single.name" .) "" | replace "-spot" "" }}
    {{- include "single.labels" . | nindent 4 }}
    {{- if .Values.labels  }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}    
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.deployment.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ regexReplaceAll "-exp-[a-zA-Z0-9]{1,10}$" (include "single.name" .) "" | replace "-spot" "" }} 
      {{- if .Values.selector_labels  }}
      {{- toYaml .Values.selector_labels | nindent 6 }}
      {{- end }}
  {{- if .Values.deployment.strategy  }}     
  strategy:
    type: {{ .Values.deployment.strategy.type | default "RollingUpdate" }}
    {{- if eq .Values.deployment.strategy.type "RollingUpdate" }}
    rollingUpdate:
      maxSurge: {{   .Values.deployment.strategy.maxSurge | default "25%"  }}
      maxUnavailable: {{  .Values.deployment.strategy.maxUnavailable | default "25%" }} 
    {{- end }}   
  {{- end }}    
  minReadySeconds: {{ .Values.minReadySeconds | default "5" }}           
  template:
    metadata:
      annotations:
        {{- toYaml .Values.annotations | nindent 8 }}
      labels:
        app: {{ regexReplaceAll "-exp-[a-zA-Z0-9]{1,10}$" (include "single.name" .) "" | replace "-spot" "" }}
        {{- if .Values.labels  }}
        {{- toYaml .Values.labels | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.hostNetwork  }}
      hostNetwork: {{ .Values.hostNetwork }}
      {{- end }}
      {{- if .Values.imagePullSecrets  }}
      ##### pull secret block
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets }}
      {{- end }} 
      ##### affinity block
      {{- if .Values.affinity  }}
      affinity:
      {{- toYaml .Values.affinity | nindent 10 }}
      {{- end }}
      ##### tolerations block
      {{- if .Values.tolerations  }}
      tolerations:
      {{- toYaml .Values.tolerations | nindent 10 }}
      {{- end }}      
      ##### service acount block
      serviceAccountName: {{ include "single.name" . }}
      ##### security context block
      securityContext:
      {{- toYaml .Values.podSecurityContext | nindent 10 }} 
      ##### priority class block
      {{- if  .Values.priorityClassName }}
      priorityClassName:  {{ .Values.priorityClassName }}
      {{- end }}   
      ##### host aliases block
      {{- if .Values.hostAliases  }}
      hostAliases:
      {{- range $key, $value := .Values.hostAliases }}
      - ip: {{ $key }}
        hostnames:
        -  {{ $value | quote }}
      {{- end }}     
      {{- end }}           
      containers:     
        - name: {{ .Values.containers.name }}
          image: {{ .Values.containers.repository }}:{{ .Values.containers.tag }}
          imagePullPolicy: {{ .Values.pullPolicy | default "IfNotPresent" }}
          ###### lifecycle
          {{- if .Values.containers.lifecycle  }}
          lifecycle:
          {{- toYaml ( .Values.containers.lifecycle ) | nindent 12 -}}
          {{- end }}    
          ##### container run command
          {{- if .Values.containers.cmd  }}
          command:
          {{- toYaml ( .Values.containers.cmd  )| nindent 12 }}
          {{- end }}
          {{- if .Values.containers.arg  }}
          args:
          {{- toYaml ( .Values.containers.arg )| nindent 12 }}
          {{- end }}     
          ##### container ports 
          ports:
          {{- range (index .Values.containers.containerPort ) }}
          - containerPort: {{ . }}
          {{- end }}            
          ##### resources                    
          {{- if .Values.containers.resources  }}
          resources:
          {{- toYaml (index .Values.containers.resources ) | nindent 12 }}          
          {{- end }}  
          ##### readinessProbe probe
          {{- if .Values.containers.readinessProbe  }}
          readinessProbe:
          {{- toYaml (index .Values.containers.readinessProbe ) | nindent 12 }}
          {{- end }}
          ##### livenessProbe probe
          {{- if .Values.containers.livenessProbe  }}
          livenessProbe:
          {{- toYaml ( .Values.containers.livenessProbe ) | nindent 12 }}
          {{- end }}              
          ###### securityContext
          {{- if .Values.containers.securityContext  }}          
          securityContext:
          {{- toYaml ( .Values.containers.securityContext )| nindent 12 }}   
          {{- end }} 
          ###### volumeMounts     
          {{- if .Values.containers.volumeMounts  }}                                                  
          volumeMounts:
            {{-  toYaml ( .Values.containers.volumeMounts ) | nindent 12 }} 
          {{- end }}   
          ###### env block   
          {{- if .Values.containers.env  }}                    
          env:
            - name: TERM
              value: "xterm"
          {{- range $key, $value := .Values.containers.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
          {{- end }} 
          {{- end }}    
      ##### volumes
      {{- if .Values.volumes  }}
      volumes:
        {{- toYaml .Values.volumes | nindent 12 }} 
      {{- end }}   

{{- end }}       
